<h1>Personal Mail  signup_confirmation</h1>


<table>
<tr>
        <td>Email : </td>
        <td> <%= @user.email%></td>

      </tr>

      <tr>
        <td>Subject : </td>
        <td> <%= @user.name%></td>

      </tr>
  <tr>
  <td><p>Description :</p> </td>
  

 
<td> <%= @user.description%></td>  </tr>
</table>

