<h1>Goodbye!</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>

<p>
  <h3>
    <p>
      hay man how are u , R u happpy with them
    </p>
  </h3>



</p>
<p>
  Say <a href="/say/hello" >Hello</a>!
</p>


