<div class="row">
  <div class="col-lg-9 col-md-8">

    <div class="timeline-cover">
      <div class="cover">
        <div class="top">
          <img src="/assets/banners/jin_carosel.jpg" class="img-responsive">
        </div>
        <ul class="list-unstyled">
          <li><a href=""><i class="fa fa-fw fa-play-circle-o"></i> <span>My Media</span>
            <small>(12)</small>
          </a></li>

        </ul>
      </div>
       <div class="widget">
        <div class="widget-body padding-none margin-none">
          <div class="innerAll">
            <p class="lead margin-none">
              <i class="fa fa-quote-left text-muted pull-left fa-fw"></i>
                My Dream Space. Where Dreams are made real.
                <%# @artist.dialog %>
              <i class="fa fa-quote-right text-muted fa-fw"></i>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="gridalicious-row gridalicious" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">

      <div class="loaded">
        <!-- Widget -->

        <!-- //End Widget -->

        <!-- Widget -->

        <!-- //End Widget -->
      </div>
      <div class="galcolumn" id="item0xXt7T" style="width: 49.3142857142857%; padding-left: 12px; padding-bottom: 12px; float: left; box-sizing: border-box;">
        <div class="widget gridalicious-item not-responsive" style="margin-bottom: 12px; zoom: 1; opacity: 1;">
          <img src="/assets/photodune-2755655-party-time-s.jpg" alt="" class="img-responsive" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">

          <div class="ribbon-wrapper">
            <div class="ribbon primary"><i class="fa fa-fw fa-star-o "></i><strong>4.8</strong></div>
          </div>

          <div class="innerTB half text-center">
            <div class="rating text-medium text-faded margin-top-none">
              <span class="star"></span>
              <span class="star active"></span>
              <span class="star"></span>
              <span class="star active"></span>
              <span class="star"></span>
            </div>
          </div>
          <div class="border-top innerAll">
            <div class="pull-left">
              <span class="text-muted small innerT innerR pull-left">Rated by:</span>
              <img src="/assets/people/35/13.jpg" class="img-circle pull-left innerR half" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
              <img src="/assets/people/35/10.jpg" class="img-circle pull-left innerR half" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
              <img src="/assets/people/35/18.jpg" class="img-circle pull-left innerR half" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
              <img src="/assets/people/35/1.jpg" class="img-circle pull-left innerR half" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
              <img src="/assets/people/35/23.jpg" class="img-circle pull-left innerR half" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="pull-right">
              <span class="text-primary strong lead pull-left innerT innerR half "><i class="icon-time-clock" data-toggle="tooltip" fata-placement="top" data-title="15 miutes ago"></i></span>
              <a href="#"><img src="/assets/people/35/13.jpg" class="img-circle pull-right" data-toggle="tooltip" fata-placement="top" data-title="Marie" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;" data-original-title="" title=""></a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="galcolumn" id="item1xXt7T" style="width: 49.3142857142857%; padding-left: 12px; padding-bottom: 12px; float: left; box-sizing: border-box;">
        <div class="widget gridalicious-item not-responsive " style="margin-bottom: 12px; zoom: 1; opacity: 1;">
          <!-- Info -->
          <div class="bg-gray  border-bottom innerAll">
            <a href="#" class="pull-right innerT text-primary">
              <i class="icon-reply-all-fill fa fa-2x "></i>
            </a>
            <a href="" class="lead strong display-block margin-none">Upcoming Show in Atlanta, GA </a>
            <span><i class="icon-time-clock"></i> added on 15th January, 2014</span>
          </div>
          <!-- Content -->
          <div class="innerAll">
            <p class="lead ">Important text goes in this line!</p>

            <div class="innerB">
              <a href=""><img src="/assets/social/100/1.jpg" alt="" class="img-post display-block-inline" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
              <a href=""><img src="/assets/social/100/2.jpg" alt="" class="img-post display-block-inline" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
              <a href=""><img src="/assets/social/100/3.jpg" alt="" class="img-post display-block-inline" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            </div>
          </div>
          <div class="innerAll border-top">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, impedit minus non commodi facere
              doloribus nemo ea voluptate nesciunt deleniti.</p>
            <blockquote class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!
            </blockquote>

          </div>
        </div>
      </div>
      <div id="clearxXt7T" style="clear: both; height: 0px; width: 0px; display: block;"></div>
    </div>
    <div class="row">

      <h3 class="margin-none">Songs</h3>

      <div class="media border-bottom innerAll margin-none">
      </div>
      <br>

      <div class="mixit-filter-1 mix col-md-4">
        <div class="widget border-none widget-pinterest active">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/59015141" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/1.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">Publix Sprinkler</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>

          </div>
        </div>
      </div>
      <div class="mixit-filter-2 mix col-md-4">
        <div class="widget border-none widget-pinterest">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/50522981" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/2.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">One More Beer!</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>
          </div>
        </div>
      </div>
      <div class="mixit-filter-1 mix col-md-4">
        <div class="widget border-none widget-pinterest">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/54932277" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/3.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">Spacebound: Models &amp; Props</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>
          </div>
        </div>
      </div>
      <div class="mixit-filter-2 mix col-md-4">
        <div class="widget border-none widget-pinterest">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/4749536" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/4.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">Alma</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>
          </div>
        </div>
      </div>
      <div class="mixit-filter-1 mix col-md-4">
        <div class="widget border-none widget-pinterest active">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/33670490" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/5.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">The Artists</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>
          </div>
        </div>
      </div>
      <div class="mixit-filter-2 mix col-md-4">
        <div class="widget border-none widget-pinterest">
          <div class="widget-body bg-none padding-none mragin-none">
            <a href="http://vimeo.com/8706167" data-toggle="prettyPhoto" class="thumb overflow-hidden" data-height="150">
              <img src="http://demo.mosaicpro.biz/assets/media/video/6.jpg" alt="photo" class="img-responsive">
            </a>

            <div class="description bg-white overflow-hidden" data-height="130">
              <h5 class="text-uppercase">Les Dangereux</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, consequuntur iure commodi omnis at
                pariatur quis hic mollitia impedit error.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'sidebar_nav'.html_safe %>
</div>