<div class="row">
  <div class="col-md-15">
    <div id="carousel-1" class="carousel slide">
      <!-- Carosel Start -->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
      </ol>
      <!-- // Indicators END -->

      <!-- Items -->
      <div class="carousel-inner">

        <!-- Item -->
        <div class="item active">
          <%= image_tag asset_url("banners/Anhonestyear.jpg"), height: 250, alt: "", class: 'img-responsive' %>
          <!--<img src="/assets/banners/Anhonestyear.jpg" alt="" class="img-responsive"/>-->

          <div class="carousel-caption">
            <h4>An Honest Year</h4>

            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <!-- // Item END -->
        <!-- Item -->
        <div class="item">
          <%= image_tag asset_url("banners/TreeHead.jpg"), height: 250, alt: "", class: 'img-responsive' %>
          <!--<img src="/assets/banners/TreeHead.jpg" alt="" class="img-responsive"/>-->

          <div class="carousel-caption">
            <h4>Tree Head</h4>

            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <!-- // Item END -->
        <!-- Item -->
        <div class="item">
          <%= image_tag asset_url("banners/Escobar_banner.jpg"), height: 250, alt: "", class: 'img-responsive' %>
          <!--<img src="/assets/banners/Escobar_banner.jpg" alt="" class="img-responsive"/>-->

          <div class="carousel-caption">
            <h4>Damien Escobar</h4>

            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <!-- // Item END -->

      </div>
      <!-- // Items END -->

      <!-- Navigation -->
      <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-prev"></span></a>
      <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-next"></span></a>
      <!-- // Navigation END -->

    </div>
  </div>
</div>