<div class="col-md-4 col-lg-3">

  <div class="widget">

    <h5 class="innerAll margin-none border-bottom bg-gray">Suggested Artists</h5>

    <div class="widget-body padding-none">


      <div class="media border-bottom innerAll margin-none">

        <img src="/assets/people/35/10.jpg" class="pull-left media-object"/>

        <div class="media-body">

          <a href="#" class="pull-right text-muted innerT half">
          </a>

          <h5 class="margin-none"><a href="#" class="text-inverse strong">Artist Name</a></h5>

          <div class="small text-muted-dark"> New York, NY</div>

        </div>

      </div>

      <div class="media border-bottom innerAll margin-none">

        <img src="/assets/people/35/12.jpg" class="pull-left media-object"/>

        <div class="media-body">

          <a href="#" class="pull-right text-muted innerT half">
          </a>

          <h5 class="margin-none"><a href="#" class="text-inverse strong">Artist Name</a></h5>

          <div class="small text-muted-dark"> New York, NY</div>

        </div>

      </div>

      <div class="media border-bottom innerAll margin-none">

        <img src="/assets/people/35/3.jpg" class="pull-left media-object"/>

        <div class="media-body">

          <a href="#" class="pull-right text-muted innerT half">
          </a>

          <h5 class="margin-none"><a href="#" class="text-inverse strong">Artist Name</a></h5>

          <div class="small text-muted-dark"> New York, NY</div>

        </div>

      </div>

      <div class="media border-bottom innerAll margin-none">

        <img src="/assets/people/35/4.jpg" class="pull-left media-object"/>

        <div class="media-body">

          <a href="#" class="pull-right text-muted innerT half">
          </a>

          <h5 class="margin-none"><a href="#" class="text-inverse strong">Artist Name</a></h5>

          <div class="small text-muted-dark"> New York, NY</div>

        </div>

      </div>

      <div class="media border-bottom innerAll margin-none">

        <img src="/assets/people/35/5.jpg" class="pull-left media-object"/>

        <div class="media-body">

          <a href="#" class="pull-right text-muted innerT half">
          </a>

          <h5 class="margin-none"><a href="#" class="text-inverse strong">Artist Name</a></h5>

          <div class="small text-muted-dark"> New York, NY</div>

        </div>
        <div class="media border-bottom innerAll margin-none"></div>
        <a href="http://www.ethanwaithe.com">
          <img src="/assets/ads/rightside_1.jpg" class="pull-left media-object"/> </a>
      </div>

    </div>

  </div>


  <!-- Widget -->
  <div class="widget widget-heading-simple widget-body-white">

    <!-- Widget Heading -->
    <div class="widget-head">
      <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
    </div>
    <!-- // Widget Heading END -->

    <div class="widget-body" data-builder-exclude="element children">
      <div class="jstwitter" data-gridalicious="false" data-type="slide" data-images="false">
        <span class="label label-default">
          <!--<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SanaullaParvez" data-widget-id="558559453784449024">Tweets by @SanaullaParvez</a>-->
          <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
        </span>
      </div>
    </div>
  </div>
  <!-- // Widget END -->
</div>
<% content_for :head do %>
    <%= javascript_include_tag "twitter.init" %>
<% end %>