<h1>Personal Mail  signup_confirmation</h1>


<table>


      <tr>
        <td><p>Subject :</p> </td>
        <td> <%= @user.name%></td>

      </tr>
  <tr>
  <td><p>Description :</p> </td>
  <td> <%= @user.name%></td>

  </tr>

</table>

